.dropdown-toggle:after {
    content: none
}

#icona {
    background: linear-gradient(153deg, rgba(146,5,232,1) 0%, rgba(80,16,153,1) 35%, rgba(164,166,240,1) 100%);
        color: white;
      }

#Scrolling-col li {
    margin-top: 15px;
    padding-left: 1em;
}

#Scrolling-col {
    padding-top: 1em;
    height: 70%;
}

footer button.btn:hover{
    color:black
}

.imgWidth{
    width: 30px;
    height:30px;
}
.contenitore-icone{
    width: 30%;
}

#buttonArrow{
    width: 30px; height: 30px; opacity: 80%;
}

#buttonPlay{
    width: 40px; height: 40px
}

.img-custom {
    width: 50% !important; 
  }
  
  @media (min-width: 990px) { 
    #buttonPlay2{
        width: 50px; height: 50px
    }
    .contenitoreFoto {
      width: 20% !important;
    }
    .img-custom{
        width: 100% !important;
    }
    #titolo{
        font-size: 4em !important;
    }
    .contenitoreIcone{
        width: 5% !important;
    }
    .fontIcone{
        font-size:1.25em
    }
}


